:root {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.menu-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.menu-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
.image-container {
  text-align: center;
  display: inline-block; /* Agar ukurannya sesuai dengan gambar */
  /* Jika Anda ingin border gambar juga melengkung */
  overflow: hidden; /* Penting jika gambar memiliki sudut melengkung dan border juga */
}

.image-container img {
  text-align: center;
  display: block; /* Mencegah ruang kosong di bawah gambar */
  max-width: 100%; /* Membuat gambar responsif di dalam container */
  height: auto;
}
/* delete button */
.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff9c45;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px #d5461b57;
  transition: background 0.2s, transform 0.2s;
  z-index: 2;
}

.delete-btn:hover {
  background: #ff9c45;
  transform: scale(1.1);
}

.delete-icon {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  pointer-events: none;
}

